.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: lightgrey;
}

.comment {
  margin: 10px;
  padding: 10px;
  background: lightgrey;
  border-radius: 10px;
}

#navbarCont {
  display: flex;
  justify-content: space-around;
  background: rgb(57, 57, 57);
}

#landingPageCont {
  display: flex;
}

#headshot {
  flex-basis: 50vw;
  width: 50vw;
}

#sayHelloCont {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  align-items: center;
}

#commentCont {
}
